@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Playfair-Display-Regular';
	src: url('./fonts/PlayfairDisplay-Regular.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair-Display-Bold';
	src: url('./fonts/PlayfairDisplay-Bold.woff');
	font-weight: bold;
	font-style: normal;
}

:root {
  --background: #121212;
  --text: #fff;
  --accent-bg: #AD3012;
  --additional-text: #000000;

}

body {
  color: var(--text);
  background: var(--background);
  font-family: 'Playfair-Display-Regular', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
